#azkarokMain {
  // animation: fadeIn .7s linear;
  padding-bottom: 5rem;
  .zikr-theem-box {
    position: relative;
    cursor: pointer;
    h2 {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .done-dot {
        content: "";
        position: absolute;
        top: 43%;
        right: 5%;
        // transform: translateY(90%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: hsl(159, 100%, 35%);
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      right: 0;
      background-size: cover;
      background-position: center center;
      z-index: -5;
    }
    &::after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      right: 0;
      z-index: -4;
      background-color: #222831;
      opacity: 0.5;
    }
    &:nth-child(1)::before {
      background-image: url(../images/zikr-icons/sabah-pic.jpg);
    }
    &:nth-child(2)::before {
      background-image: url(../images/zikr-icons/masaa-pic.jpg);
    }
    &:nth-child(3)::before {
      background-image: url(../images/zikr-icons/noom-pic.jpg);
    }
    &:nth-child(4)::before {
      background-image: url(../images/zikr-icons/estekaz-pic.jpg);
    }
    &:nth-child(5)::before {
      background-image: url(../images/zikr-icons/massjed-pic.jpg);
    }
    &:nth-child(6)::before {
      background-image: url(../images/zikr-icons/slaah-pic.jpg);
    }
    color: var(--white);
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 0 20px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px -1px 10px 0px rgba(17, 19, 22, 0.1);
    border-radius: 1rem;
  }
  .zikr-theem-box:not(:last-child) {
    margin-bottom: 0.7rem;
  }
  .zikr-card {
    display: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    position: relative;
    cursor: pointer;
    &-content {
      min-height: 8rem;
      background-color: var(--primary-li-5);
      padding: 0.625rem 1.25rem 4.7rem 1.25rem;
      border-radius: 1rem;
      /* offset-x | offset-y | blur-radius | spread-radius | color */
      // box-shadow: 0px 0px 2px 2px rgba(34, 40, 49, 0.1);
      // transition: all 2s ease-in-out;

      border: 1px solid var(--secondary-li-50);
      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }

      p {
        margin: 0;
        line-height: 1.8;
        text-align: justify;
      }
    }
    footer {
      position: absolute;
      width: 90%;
      height: 3.75rem;
      right: 50%;
      bottom: 0.7rem;
      transform: translateX(50%);
      background-color: var(--primary-li-4);
      border-radius: 1rem;
      border: 1px solid var(--secondary-li-50);
      // font-size: 1.1rem;
      .info {
        position: relative;
        display: flex;
        gap: 10%;
        width: 9.375rem;
        height: 3.75rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        img {
          width: 1.25rem;
        }
        .times-shape {
          width: 40px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          border: 1.499999px solid var(--secondary);
          transition: 0.1s ease-in-out;
          &-anim {
            margin-top: 5px;
          }
        }
      }
      .barrier {
        width: 2px;
        height: 2.5rem;
        background-color: var(--secondary);
        border-radius: 2px;
      }
      .info:not(:first-child) {
        cursor: pointer;
      }
    }
  }
  .done {
    display: none;
    // z-index: -3;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 95%;
    padding: 100px 30px;
    background: var(--blue);
    color: var(--white);
    overflow: hidden;
    img {
      margin-top: 5%;
      width: 30%;
      max-width: 130px;
    }
    .done-text {
      margin-top: 10px;
      text-align: center;
      h2 {
        line-height: 1.5;
        span {
          font-size: 1.5rem;
          display: block;
          color: var(--white-dr-15);
        }
      }
      p {
        color: var(--secondary-li-40);
      }
    }
    button {
      // position: absolute;
      // bottom: 10%;
      width: 90%;
      max-width: 300px;
      height: 50px;
      padding: 5px;
      background: var(--primary);
      color: var(--secondary);
      border: none;
      border-radius: 10px;
      font-weight: 700;
      font-size: 1.3rem;
      &:focus {
        background: var(--secondary);
        color: var(--white);
      }
    }
  }
  .dalel-card-perant {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #222831d2;
    z-index: 11;
    .dalel-card {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -65%);
      width: 85%;
      min-height: 35vh;
      // margin-bottom: 3.75rem;
      /* offset-x | offset-y | blur-radius | spread-radius | color */
      box-shadow: 0px -1px 10px 0px rgba(17, 19, 22, 0.1);
      border-radius: 0.7rem;
      background-color: var(--primary);
      padding: 25px 15px 10px 15px;
      h2 {
        position: relative;
        // font-size: 1.4rem;
        margin: 0 2rem 1.1rem 0;
        color: #222831;
      }
      h2::before {
        content: "";
        position: absolute;
        top: 4px;
        right: -30px;
        width: 20px;
        height: 20px;
        background-image: url(../images/infoCard.svg);
        background-size: cover;
        display: inline-block;
      }
      .text-cont {
        position: relative;
        width: 100%;
        height: 10rem;
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 2px;
        }
        P {
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5;
          text-align: center;
          padding: 0 5px 0 15px;
        }
        &::after {
          content: "";
          position: fixed;
          background-color: var(--primary);
          display: block;
          width: 4px;
          height: 20px;
          bottom: 63px;
          left: 14px;
        }
      }
      footer {
        display: flex;
        justify-content: space-evenly;
        margin: 10px auto;
      }
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 40%;
        max-width: 50%;
        height: 35px;
        border: none;
        font-weight: bold;
        border-radius: 5px;
        padding: 2px;
        color: var(--secondary);
        background-color: inherit;
        cursor: pointer;
      }
      &-btn:first-child {
        background-color: var(--red);
        color: #222831;
      }
    }
  }
}
